* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root {
    --main-bg-color: #043873;
    --bg-color: #ffffff;
    --btn-color: #4F9CF9;
} */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr auto;
    align-items: center;
    padding: 20px 60px;
    background-color: var(--main-bg-color, #043873);

}

#logo {
    width: 120px;
}

.nav-links{
   display: flex;
    justify-content: center;
    gap: 30px;
}


.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.btn {
    display: flex;
    gap: 15px;
    
}
button { 
    border: none; 
    width: fit-content;
    min-width: 180px;
    padding: 14px 28px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  
 }


#btn1 {
    background-color: #FFE492;
    color: #043873;
}

#btn2{
    background-color: #4F9CF9;
    color: #ffffff;
}


.main-section {
    background-color:#043873;
    color: #ffffff;
}
.main-section h1,
.main-section p {
    color: white;
}

section:not(.pricing-section) {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 80px 60px;
}

section:not(.pricing-section) img {
    width: 100%;
    max-width: 650px;
    height: auto;
   grid-column: 2;
   justify-self: end;
   border-radius: 10px;
  

}
section:not(.pricing-section) h1 {
    font-size: 42px;
    margin-bottom: 20px;
    grid-column: 1;
}
section:not(.pricing-section) p {
    font-size: 18px;
    margin-bottom: 20px;
    grid-column: 1;
}

section:not(.pricing-section) button {
    background-color:  #4F9CF9;
    color: #ffffff;
    grid-column: 1;
}

/* princing cards */
.pricing-section {
    padding: 80px 60px;
    text-align: center;
}

.pricing-section h1 {
    font-size: 42px;
    margin-bottom: 15px;
    color: #043873;
}

.pricing-section p {
    max-width: 700px;
    margin: 0 auto 50px;
    font-size: 18px;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: stretch;

}

.cards {
    background: #f5f7fa;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: left;
    transition: 0.3s;
}

.card2{
    background-color: #043873;
    color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.cards:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
/* Card headings */
.cards h2 {
    color: #043873;
    margin-bottom: 10px;
}

.cards h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

/* Card button */
.cards button {
    width: 100%;
    margin-top: 20px;
}

ul {
margin: 20px 0;
padding-left: 20px;
}

li {
   list-style: none;
    margin-bottom: 10px;
}

/* footer */
footer {
    background-color: #043873;
    color: #ffffff;
    text-align: center;
    padding: 80px 20px;
}

footer h1, footer p {
    color: #ffffff;

}

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
        padding: 20px;

    }

    .nav-links {
        margin-top: 10px;
         flex-direction: column;
        gap: 10px;
       
    }

    .btn {
        margin-top: 10px;
        margin-left: 0;
        justify-content: center;
    }

    .main-section {
    background-color: #043873;
    color: #ffffff;
}
     section:not(.pricing-section) {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 50px 20px;
    }

    section:not(.pricing-section) img {
        grid-column: 1;
        justify-self: center;
        order: -1;
        margin-bottom: 20px;
    }

    section:not(.pricing-section) h1, section:not(.pricing-section) p, section:not(.pricing-section) button {
        grid-column: 1;
    }
    .pricing-section {
        padding: 50px 20px;
    }

    .pricing-container {
        grid-template-columns: 1fr;
    }

    .cards {
        text-align: center;
    }

   
}