* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root {
    --main-bg-color: #043873;
    --bg-color: #ffffff;
    --btn-color: #4F9CF9;
} */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color, #043873);
  padding: 16px 220px;
}

#logo {
    width: 100px;
    height: auto;
    align-self: left;
}


.nav-links a {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.btn {
    align-content: right;
    margin-right: 0;
    padding-left: 20px;
}

#btn1 {
    background-color: #FFE492;
    color: #043873;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

#btn2{
    background-color: #4F9CF9;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    padding: 100px 67px;
    margin-top: 20px;
}

section img {
    width: 657px;
    height: auto;
    grid-column: 3;
   grid-row: 1 / span 3;
  
  

}
section h1 {
    font-size: 45px;
    margin-bottom: 20px;
    grid-column: 1 / span 2;


}
section p {
    font-size: 18px;
    margin-bottom: 20px;
    grid-column: 1 / span 2;
}

section button {
    background-color: var(--btn-color, #4F9CF9);
    width: 255px;
    height: 58px;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    grid-column: 1 / span 2;
}

.main-section {
    background-color:#043873;
    color: #ffffff;
}
.img3 {
    width: 657px;
    height: auto;
    grid-column: 3;
   grid-row: 1 / span 3;
}